/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Header */
header {
    background-color: red;
}
/* Main */
main {
    background-color: blue;
    flex: 1 0 auto;
}
/* Footer */
footer {
    background-color: green;
}