/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Love+Ya+Like+A+Sister&display=swap');

/* Wildcard selector for default styles from browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'architects daughter', sans-serif;
}

/* Header */
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

div>a>img {
    max-width: 90%;
    padding-top: 0;
    padding-right: 1rem;
}

#menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 100%;
        z-index: 1;
        align-items:center;
}

#menu>li {
    text-align: center;
    color: white;
    padding-left: 5px;
}

.position {
    border-bottom: 1px solid black;
}

/* Dropdown window with nav */
nav {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 40%;
    padding-left: 7rem;
}

/* Window */
#window:checked~nav {
    display: block;
}

#window {
    display: none;
}

.window-label {
    padding-top: 5px;
    padding-right: 9rem;
    font-size: x-large;
}
    
/* Main */
main {
    flex: 1 0 auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
/* Form */
#signup {
    background-image: url("../images/Form\ \ background.jpg");
    background-size: cover;
    background-position: 20%;
    flex-grow: 1;
    padding: 7rem 0 0 0;

}

#signup-form {
    padding: 2rem;
    background-color: rgba(60, 60, 60, 0.6);
}

label,input {
    display: block;
}

label {
    color: white;
    text-align: center;
}

#signup-form>h2 {
    color: whitesmoke;
    margin-bottom: 1rem;
    text-align: center;
    font-size: medium;
}

.text {
    background: transparent;
    width: 100%;
    color: #fafafa;
    margin: 1px 1px -20px 0;
    border: 1px solid #fafafa;
    border-radius: 9px;
    padding: 1px 7px;
}

.radio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.join-button {
    border-radius: 2px;
    padding: 5px 5px;
    font-size: 70%;
    background-color: #3cb371;
    color: black;
    position: absolute;
    margin: 1.5rem 17%;
}

/* Footer */
#social-link {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-link i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

p {
    font-size: medium;
}

/* Media query for 768px and up */
@media screen and (min-width:768px) {

    /* Header */
    div>a>img {
        max-width: 140%;
        padding-top: 0;
        padding-right: 1rem;
    }

    nav {
        display: block;
        box-shadow: 0 2px 5px 2px;
        position: relative;
        padding-right: 1px;
        padding-top: 1rem;
        color: #3cb371;
        align-items: baseline;
    }

    #menu {
        display: flex;
        font-size: 100%;
    }

    #menu>li {
        padding-right: 4rem;
    }

    /* Main */
    main {
        margin-top: 0;
    }

    /* Footer */
    p {
        font-size: x-large;
    }
}

/* Media query for 1050px and up */
@media screen and (min-width:1050px) {

    /* Header */
    #menu a:hover {
        border-bottom: 1px solid black;
    }

    nav {
        box-shadow: 0 2px 5px 2px;
        padding-left: 0;
        padding-right: 5px;
    }

    header {
        text-align: center;
        padding-left: 10rem;
        overflow: auto;
        box-shadow: 0 4px 4px #3a3a3a;
    }

    #menu {
        padding-right: 1rem;
        padding-left: 2rem;
        padding-top: 0.5rem;
    }
}