/* Google fonts import */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Love+Ya+Like+A+Sister&display=swap');

/* Wildcard selector for default styles from browser */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'architects daughter', sans-serif;
}

.hidden-heading {
    display: none;
}

/* Header */

header {
    background-color: #3cb371;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 5px black;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-img {
    width: 100%;
    height: 100px;
    max-width: 100%;
    max-height: 100px;
}

#menu {
    font-size: 150%;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #fafafac7;
    background-size: cover;
}

#menu>li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid black;
}

/* Navigation styles with dropdown toggle */

nav {
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    top: 100%;
}

/* Navigation toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 2rem;
}

/* Main */

main {
    background-color: #3cb371;
    flex: 0 0 auto;
    margin-top: 107px;
    display: flex;
    flex-direction: column;
}

/* Index Page */

#hero-picture {
    height: 200px;
    width: 100%;
    background: url(../images/hero_index.jpg)no-repeat center center/cover;
    position: relative;
    text-transform: uppercase;
    text-align: center;
    font-style: italic;
}

#cover-text {
    background-color: rgb(68 92 72 / 27%);
    font-size: 30%;
    position: absolute;
    bottom: 6px;
    width: 50%;
    right: 2%;
}

#cover-text > h1 {
    color: white;
}

/* Reasons section */

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 150%;
}

#effects-mental,#effects-physical,#effects-spiritual {
    line-height: 20px;
    margin-bottom: 20px;
}

#effects p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url(../images/reasons_index.jpg) no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}
#effects-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#times {
    background: url(../images/background_meetup.jpg)no-repeat center/cover;
    height: 32rem;
    color: white;
}

#times div {
    padding: 21px;
    text-align: center;
    background-color: rgb(34 33 33 / 42%);
    font-family: fantasy;
    line-height: 1rem;
}

/* Form */

#signup {
    background-image: url(../images/background_signup.jpg);
    background-size: cover;
    background-position: 100%;
    padding: 40px 10% 40px 10%;
    flex-grow: 1;
}

#signup-form {
    color: black;
    background-color: #24292645;
    padding: 30px;
    text-align: center;
}

#signup-form>h2 {
    color: whitesmoke;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 0px 0;
    border: 1px solid #fafafa;
    border-radius: 15px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.join-button {
    margin-top: 10px;
    border-radius: 28px;
    font-size: 100%;
    background-color: #3cb371;
    color: black;
    padding: 4px;
}

/* Contact Us Form */

#contactus {
    background: url(../images/contactus_background.jpg)no-repeat center center;
    background-size: cover;
    background-color: rgba(60, 60, 60, 0.6);
    width: 100%;
    height: 30rem;
    padding: 1rem 10%;
}

#message {
    position: absolute;
}

#comment {
    margin-top: 2rem;
}

.contactus-message {
    text-align: center;
    padding: 0 10% 0 10%;
    background-color: #24292645;
}

/* Gallery page */

#pictures img {
    width: 100%;
    line-height: 1em;
}

#pictures {
    line-height: 0;
}

/* Turn Up section */

.turnup {
    background-color: #3cb371;
    text-align: center;
    padding-top: 25px;
}

.turnup>a>h2 {
    color: black;
}

.turnup>a {
    text-decoration: none;
}

/* Footer */

footer {
    background-color: #3cb371;
}

#social-link {
    text-align: center;
    padding: 27px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-link i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

#social-link > li {
    padding-top: 1rem;
}

#social-p {
    font-size: large;
    position: absolute;
    margin: -1.5rem;
    padding-top: 4px;
}

/* Media query for 576px and up */

@media screen and (min-width:576px) {

    /* Gallery Page */

    #pictures {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query for 768px and up */

@media screen and (min-width:768px) {

    /* Header */

    nav {
        display: block;
        inset-block: 2rem;
        position: relative;
        width: fit-content;
    }

    #menu {
        display: flex;
        box-shadow: 0 15px 15px black;
        font-size: 136%;
        padding-right: 3rem;
        border-radius: 5rem;
    }

    #menu>li {
        padding-left: 2rem;
        padding-top: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Hero section */

    #hero-picture {
        height: 460px;
    }

    #cover-text {
        min-height: 28px;
        font-size: 60%;
    }

    /* Reasons section */

    #effects-mental,
    #effects-spiritual,
    #effects-physical {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

     #effects-mental>div,
     #effects-spiritual>div,
     #effects-physical>div {
        width: 75%;
     }

     #effects-physical > div {
        text-align: end;
        align-self: flex-end;

     }

     #reason h2 {
        font-size: 120%;
     }

     h5 {
        font-size: 130%;
     }

     #times {
        height: 26rem;
        font-size: 110%;
        color: white;
        display: flex;
     }

     #times div {
        padding: 17px;
        padding-right: 3rem;
        font-family: fantasy;
        line-height: 40px;
        width: 100%;
     }
    
    /* Main */

    main {
        margin-top: 123px;
    }

    /* Form */

    #signup {
        background-position: center;
        position: relative;
        padding: 40px 14rem;
        height: 69em;
    }

    #signup-form {
        top: 200px;
        position: relative;
        height: 40rem;
    }

    #signup-form>h2 {
        margin-bottom: 40px;
    }

    .text-input {
        margin-bottom: 40px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .join-button {
        margin-top: 40px;
    }

    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    /* Contact Us Form */

    #contactus {
        height: 72rem;
        padding: 15rem;
    }

    #comment {
        margin-top: 4rem;
        width: 15em;
        height: 8rem;
    }

    /* Gallery Page */

    #pictures {
        column-count: 3;
    }

    /* Footer */

    #social-link {
        padding: 9px 0;
    }

    #social-p {
        font-size: large;
        position: relative;
        margin: inherit;
    }
}

/* Media query for 992px and up */

@media screen and (min-width:992px) {

    /* Header */

    #menu>li {
            padding-left: 3rem;
    }

    #menu a:hover {
        border-bottom: 1px solid black;
    }

    /* Gallery Page */

    #pictures {
        column-count: 3;
    }

    /* Hero section */

    #hero-picture {
        height: 620px;
    }

    #cover-text {
        font-size: 100%;
    }

    /* Reasons section */

    #reasons h2 {
        font-size: 190%;
    }

    h5 {
        font-size: 150%;
    }

    #effects {
        font-size: 150%;
    }

    #effects > #effects-mental, 
    #effects-physical, 
    #effects-spiritual {
        line-height: normal;
    }

    #times {
        height: 30rem;
        font-size: 150%;
    }

    #times div {
        line-height: 55px;
    }

    /* Form */

    #signup {
        padding: 256px 20rem;
        height: 92em;
    }

    /* Contact Us Form */

    #contactus {
        padding: 20rem;
    }

    #comment {
        width: 20em;
    }

    #message {
        margin-left: 2rem;
    }

}

/* Media query for 1440px and up */

@media screen and (min-width:1440px) {

/* Hero section */

#hero-picture {
    height: 810px;
}

/* Reason section */

#cover-text {
    font-size: 140%;
}

#reason h2 {
    font-size: 220%;
}

#times {
    height: 40rem;
    font-size: 200%;
}

#times div {
    line-height: 70px;
}

/* Form section */

#signup {
    height: 130em;
    padding: 25rem 30rem;
}

#signup-form {
    height: 50rem;
}

#signup-form>h2 {
    margin-bottom: 60px;
}

.text-input {
    margin-bottom: 60px;
}

.join-button {
    margin-top: 60px;
}

/* Contact Us Form */

#contactus {
    padding: 30rem;
    height: 120rem;
}

#comment {
    width: 26em;
    height: 10rem;
}

#message {
    margin-left: 6rem;
}

}

/* Media query for 2560px and up */

@media screen and (min-width:2560px) {

/* Hero section */

#hero-picture {
    height: 90rem;
}

/* Reason section */

#reasons h2 {
    font-size: 250%;
}

#cover-text {
    font-size: 290%;
}

h5 {
    font-size: 230%;
}

#effects {
    font-size: 250%;
}

#times {
    height: 65rem;
    font-size: 300%;
}

#times div {
    line-height: 130px;
}

/* Form section */

#signup {
    height: 230px;
    padding: 116rem 50rem;
}

#signup-form {
    height: 70rem;
    top: -20rem;
}

#signup-form>h2 {
    margin-bottom: 100px;
}

.text-input {
    margin-bottom: 100px;
}

.join-button {
    margin-top: 100px;
}

/* Contact Us Form */

#contactus {
    height: 200rem;
    padding: 45rem;
}

.contactus-message {
    padding: 16em 10% 16em 10%;
}

#comment {
    width: 45em;
    height: 20rem;
}

#message {
    margin-left: 12rem;
}

}